.config/ParaView/
.config/anyenv/
.config/astropy
.config/configstore/
.config/htop/
.config/iterm2/
.config/karabiner/
.config/k9s/
.config/gh/
.config/helm/
.config/k3d/
.config/neofetch/
.config/.mono/
.tmux/plugins/
.tmux/resurrect/
